body, html {
    height: 100%;
    margin: 0;
    background-color: #EEE8D6;
    font-family: Arial, sans-serif;
}
.title-container {
  text-align: center;
  margin-top: auto;
  margin: 0 auto;
}
#pageTitle{
  color: #808000;
  font-family: Arial, sans-serif;
  margin: 0 auto;
  margin-top: 20px;
}
.container {
  text-align: center;
  margin-top: 50px; /* Espacement depuis le haut de la page */
}

#randomImage {
  width: 200px; 
  height: auto; 
  border: 0.5px solid black; 
  margin: 0 auto;
}

#guessInput {
  margin-top: 20px; /* Espacement depuis le dessus de l'encadré */
}

#submitGuess {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px; /* Espacement depuis le dessus de l'encadré */
}

.encadre {
  width: 300px; /* Largeur de l'encadré */
  padding: 20px; /* Espace à l'intérieur de l'encadré */
  border: 0.5px solid white; /* Bordure */
  margin: 0 auto; /* Centrage horizontale */
  background-color: #d8d3ae; /* Couleur de fond */
}
footer {
  text-align: center;
  padding: 5px;
  background-color: #f2f2f2;
  margin-top: auto; /* Marge supérieure automatique */
  width: 100%;
  color: #666;
}
.boite-details {
    border: 1px solid #676900;
    padding: 10px;
    margin-bottom: 10px;
}
img {
    display: block; 
    margin-left: auto;
    margin-right: auto;   
}
.encadre-scroll {
    margin-left: auto;
    margin-right: auto;
    
    background-color: #4a4c08;
    color:#f2f2f2;
    width: 600px; /* Largeur de l'encadré */
    height: 82px; /* Hauteur de l'encadré */
    overflow-y: auto; /* Activation du défilement vertical */
    padding: 1px; /* Marge intérieure pour un espacement adéquat du contenu */
}

.menu-contact {
    position: fixed;
    top: 10px;
    right: 10px;
}

.menu-contact a {
    display: inline-block;
    margin-left: 10px; /* Espacement entre les icônes */
}

.menu-contact img {
    width: 30px; /* Taille des icônes */
    height: auto; /* Pour conserver les proportions */
}


