body, html {
    height: 100%;
    margin: 0;
    background-color: #9CC8E4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-container {
  text-align: center;
}

.container {
  text-align: center;
}

#randomImage {
  width: 200px; 
  height: auto; 
  border: 0.5px solid black; 
}

#guessInput {
  margin-top: 20px; /* Espacement depuis le dessus de l'encadré */
}

#submitGuess {
  margin-top: 20px; /* Espacement depuis le dessus de l'encadré */
}

.encadre {
  width: 300px; /* Largeur de l'encadré */
  padding: 20px; /* Espace à l'intérieur de l'encadré */
  border: 0.5px solid #2D6B92; /* Bordure */
  margin: 0 auto; /* Centrage horizontale */
  background-color: #DFF6F7; /* Couleur de fond */
}

