body, html {
    height: 100%;
    margin: 0;
    background-color: #EEE8D6;
    font-family: Arial, sans-serif;
}
.title-container {
  text-align: center;
  margin-top: auto;
  margin: 0 auto;
}
#pageTitle{
  color: #808000;
  font-family: Arial, sans-serif;
  margin: 0 auto;
  margin-top: 20px;
}
.container {
  text-align: center;
  margin-top: 50px; /* Espacement depuis le haut de la page */
}

#randomImage {
  width: 200px; 
  height: auto; 
  border: 0.5px solid black; 
  margin: 0 auto;
}

#guessInput {
  margin-top: 20px; /* Espacement depuis le dessus de l'encadré */
}

#submitGuess {
  margin-top: 20px; /* Espacement depuis le dessus de l'encadré */
}

.encadre {
  width: 300px; /* Largeur de l'encadré */
  padding: 20px; /* Espace à l'intérieur de l'encadré */
  border: 0.5px solid white; /* Bordure */
  margin: 0 auto; /* Centrage horizontale */
  background-color: #d8d3ae; /* Couleur de fond */
}
footer {
  text-align: center;
  padding: 5px;
  background-color: #f2f2f2;
  margin-top: auto; /* Marge supérieure automatique */
  width: 100%;
  color: #666;
}
